/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #1c1c1c;
    color: #f4f4f4;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 20px;
    border-bottom: 3px solid #FA1B98;
}

header .logo-container img {
    max-width: 100px;
    border-radius: 50%;
}

header h1 {
    font-size: 2.5rem;
    color: lightblue;
}

nav {
    position: relative;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #FFF;
    font-size: 1.2rem;
    font-weight: 600;
}

.hamburger {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    color: #FFF;
}

/* Main Content */
main {
    flex: 1;
    padding: 20px;
}

h2 {
    color: lightblue;
}

ul {
    list-style: disc;
    padding-left: 20px;
}

/* Footer */
footer {
    background-color: #333;
    color: #f4f4f4;
    text-align: center;
    padding: 20px;
    border-top: 2px solid red
}

/* Responsive Styles */
@media (max-width: 768px) {
    nav ul {
        display: none;
        flex-direction: column;
        background-color: #111;
        position: absolute;
        top: 100%;
        right: 0;
        width: 200px;
    }

    nav ul.show {
        display: flex;
    }

    .hamburger {
        display: block;
    }
}
