body {
    display: grid;
    height: 100vh;
    grid-template: auto ifr auto / 300px 1fr auto;
  }
  
  header {
    background: lightpink;
    padding: 2rem;
    text-align: center;
    grid-column: 1 / 4;
  }
  *{
    margin: 0;
    padding: 0;
  }
  
  nav{
    background: red;
    padding: 2rem;
    text-align: center;
    grid-column: 1 / 4;
  }

  ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
  }

  li{
    margin: 0;
    padding: 10px;
  }

  a{
    text-decoration: none;
    color: black;
  }

  li:hover{
    transition: 250ms;
    background-color:aqua;
  }

  .left-sidebar {
    background: lightblue;
    grid-column: 1 / 2;
  }
  
  main {
    background: coral;
    grid-column: 2 / 3;
  }
  
  .right-sidebar {
    background: yellow;
    grid-column: 3 / 4;
  }
  
  footer {
    background: wheat;
    padding: 2rem;
    text-align: center;
    grid-column: 1 / 4;
  }
  
  .left-sidebar,
  .right-sidebar {
    padding: 1rem;
  }
  