/* General Styles */
body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    font-family: 'Roboto', sans-serif;
}
  
  header,
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
  }
  
  form {
    max-width: 600px;
    margin: 2em auto;
    padding: 1em;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  label {
    display: block;
    margin-bottom: 0.5em;
    color: #333;
  }
  
  input,
  select,
  textarea {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 0.75em 1.5em;
    font-size: 1em;
  }
  
  input[type="submit"]:hover {
    background-color: #555;
  }
  
  fieldset {
    border: 1px solid #ccc;
    padding: 1em;
    margin-bottom: 1em;
  }
  
  legend {
    padding: 0 0.5em;
    font-weight: bold;
  }
  
  .rating {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .star-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  
  .star-container input {
    margin-bottom: 0.5em;
  }
  