:root {
    --red: rgba(210, 16, 52, 1);
    --green: rgba(0, 120, 73, 1);
    --border: 1px solid rgba(0, 0, 0, 0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: Lato, Arial, Helvetica, sans-serif;
    background-color: var(--red);
}

header,
footer {
    color: lightblue;
    text-align: center;
    padding: 1.5rem;
}

h1 {
    font-size: 1.5rem;
}

aside {
    background-color: var(--green);
    padding: 1rem;
    text-align: center;
}

img {
    width: 100%;
    height: auto;
}

h2 {
    padding: 1rem;
}

.card {
    background-color: white;
    border-radius: 0.5rem;
    margin: 1rem;
    padding: 1rem;
}

.card h2 {
    text-align: center;
}

.col-2 {
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
}

.label {
    font-weight: 700;
    font-size: 0.85rem;
    text-align: right;
}

.value {
    font-size: 0.9rem;
}

@media (min-width: 750px) {
    h1 {
        font-size: 3rem;
    }

    main {
        position: relative;
    }

    .card {
        border: var(--border);
        box-shadow: 0 0 2rem #000;
        opacity: 0.8;
    }

    .data {
        position: absolute;
        bottom: 2rem;
        left: 1rem;
    }

    .weather {
        position: absolute;
        bottom: 2rem;
        right: 1rem;
    }

    .weather h2::after {
        content: 'clouds';
        position: absolute;
        right: 3rem;
        top: 1.25rem;
    }

    #weather-icon {
        display: none;
    }
}
